{% extends 'base.html.twig' %}

{% block title %}ArtBoard index{% endblock %}

{% block body %}
    <h1>ArtBoard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Publiee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for art_board in art_boards %}
            <tr>
                <td>{{ art_board.id }}</td>
                <td>{{ art_board.description }}</td>
                <td>{{ art_board.publiee ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_art_board_show', {'id': art_board.id}) }}">show</a>
                    <a href="{{ path('app_art_board_edit', {'id': art_board.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_art_board_new') }}">Create new</a>
{% endblock %}
